{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<footer>
    <div class="footer">
        <div class="title">
            <img class="logo1" src="{% static 'images/logo.webp' %}" alt="stockpro" style="width: 40px; height: 40px;" />
            <div class="contact-info">
                <a href="https://wa.me/7887498918" target="_blank" title="WhatsApp"><img src="{% static 'images/WhatsApp.png' %}" alt="WhatsApp" style="width: 50px; height: 50px;"></a>
                <a href="mailto:pravinkuyate0@gmail.com" title="Email"><img src="{% static 'images/gmail.png' %}" alt="Gmail" style="width: 45px; height: 45px;"></a>
                <a href="https://www.linkedin.com/company/stockpro" title="LinkedIn"><img src="{% static 'images/linkedin.png' %}" alt="LinkedIn" style="width: 40px; height: 40px;"></a>
            </div>
        </div>
        
        <div class="text-link-list">
            <div class="title2">
                <div class="text-strong">
                    <div class="text-strong2">Our Services</div>
                </div>
            </div>
            <div class="text-link-list-item">
                <a href="/stocks" class="list-item7">Stocks</a>
            </div>
            <div class="text-link-list-item">
                <a href="https://www.nseindia.com/" class="list-item7">NSE Compliance Management</a>
            </div>
            <div class="text-link-list-item">
                <a href="/stockpred" class="list-item7">Predictions</a>
            </div>
         
            
        </div>

        <div class="text-link-list">
            <div class="title2">
                <div class="text-strong">
                    <div class="text-strong2">Explore</div>
                </div>
            </div>
            <div class="text-link-list-item">
                <a href="/news" class="list-item7">Finance News</a>
            </div>
      
            <div class="text-link-list-item">
                <a href="https://sensibull.com/" target="_blank" class="list-item7">Sensibull</a>
            </div>
            <div class="text-link-list-item">
                <a href="https://www.tickertape.in/" target="_blank" class="list-item8">Ticker Tape</a>
            </div>
        </div>

        <div class="text-link-list">
            <div class="title2">
                <div class="text-strong">
                    <div class="text-strong2">Resources</div>
                </div>
            </div>
            <div class="text-link-list-item">
                <a href="/news" class="list-item12">News</a>
            </div>
            <div class="text-link-list-item">
                <a href="https://www.nseindia.com/" target="_blank" class="list-item13">NSE</a>
            </div>
            <div class="text-link-list-item">
                <a href="https://www.bseindia.com/" target="_blank" class="list-item13">BSE</a>
            </div>
            
            <div class="text-link-list-item">
                <a href="/support" class="list-item16">Support</a>
            </div>
        </div>
    </div>
</footer>
